$black: #313131;
$background: #eaebef;
$white: #ffffff;
$brd-clr: #ebebeb;
$blue-dark: #4144ff;
$blue-light: #daeeff;
$red-light: #ff4151;
$blue-bg: #106bff;
$gray-light: #d9d9d9;
$gray-dark: #c7c7c7;
$color-table: #c9c9c9;
$checkbox-bg: #0090ff;
$container-width: 90%;
$green-bg: #92ff8a;
$green-crl: #00c946;
$green-text: #008533;
$red-bg: #ff8a8a;
$red-crl: #ec0101;
$red-text: #852300;
$orange-bg: #ffd08a;
$orange-text: #9a4500;
$blue-checked: #007bff;
$blue-duration: #0e5fff;
$purple-question: #a100ff;
$orange-score: #ff6b0e;
$btn-disabled: rgba(16, 16, 16, 0.3);
$duration: 0.15s;
